<!DOCTYPE html>
<html>
    <head>
    	<title>GIT Playground</title>
<link rel="stylesheet" type="text/css" href="css/main.css">

    </head>
    <body>
<div class="nav">
    <ul>
        <li>Home</li>
  <li><a href="html-playground.html">HTML</a></li>
  <li><a href="css-playground.html">CSS</a></li>
  <li><a href="bootstrap-playground.html">BOOTSTRAP</a></li>
  <li><a href="javascript-playground.html">JAVASCRIPT</a></li>
  <li><a href="jQuery-playground.html">jQUERY</a></li>
  <li><a href="resources-playground.html">RESOURCES</a></li>
  <li><a href="git-playground.html">GIT</a></li>


    </ul>
  </div>

    	<h1>GIT Items</h1>
    <hr>
        <div class="git-description">
        	<h2>Git DEscription</h2>
        	   <h3>Uses</h3>
        	      <ul>
        	      	   <li>As a developer, you use git on a routine basis(almost hourly).</li>
        	      	   <li>Allows you to share code with other developers.</li>
        	      	   <li>Allows you to use other peoples' code to get ideas & libraries.</li>
        	      </ul>
        <hr>
           <h3>Locations</h3>
              <p>You can "commit" (save) code <b>
              locally</b> and <b>remotely</b>.</p>
              <h4>    Locally</h4>
                      <ul>
                      	 <li>Locally means your browser connects to a local server









    </body>
</html>