<!DOCTYPE html>
  <html>

    <head>
      <title>Day 1</title>
      
      <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- NOTE: Need this for bootstrap 
      https://www.bootstrapcdn.com/
      -->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

      <!--Need this for css.-->
        <link rel="stylesheet" type="text/css" href="../css/main.css">
    </head>
    <body>
      

    <!--Git Instructions-->
    <!--Nav Bar-->
    <div class="nav">
      <ul>
        <li><a class="default" href="../index.html">Home</a></li>
        <li><a href="html-playground.html">HTML</a></li>
        <li><a href="css-playground.html">CSS</a></li>  
        <li><a href="bootstrap-playground.html">Bootstrap</a></li>
        <li><a href="js-playground.html">JavaScript</a></li>      
        <li><a href="jquery-playground.html">jQuery</a></li>    
        <li><a href="git-playground.html">Git</a></li>
        <li><a href="resources.html">Resources</a></li>
      </ul>
    </div>
    <!--Good way to practice basic HTML and start to learn Git-->
    <div class="git">
      <h2>Git</h2>
      <h3>Description</h3>
        <ul>
          <li>You will use git on a routine basis(almost hourly).</li>
          <li>Share code with other developers.</li>
          <li>Save code locally and remotely.</li>
            <ul>
              <li>Locally means your browser connects to local server.</li>
              <li>Remotely means your browser connects to an online server.</li>
            </ul>
        </ul>
      <h3>Setting up a Git repo</h3>
        <h4>Remote Set up</h4>
        <ol>
          <li>Log into bitbucket.</li>
          <li>Find your daskboard.</li>
          <li>Click <b>Repositories</b> then <b>Create Repository</b></li>
          <li>Give the repository the same name as what you have locally. (Not required. Just good to do) Click <b>Create Repository.</b></li>
        </ol>
        <h4>Local Set up</h4>
        <ol>
          <li>Open your command line/terminal.</li>
          <li>Use the cd command to navigate to your folder. For example <b>cd desktop/projectfolder</b></li>
          <li> type in <b>git init</b>. This will set up a repository(repo) for you locally.
          <li> From Bit bucket, copy and paste the line that says something like this: <b>git remote add origin https://jamespauloconnor@bitbucket.org/jamespauloconnor/test.git</b>. This basically points your local repository to the remote one on bitbucket.org.
          <li>Type in <b>git add .</b> This will add all the files that have been changed.</li>
          <li>Type in <b>git commit -m "Initial commit."</b></li>
          <li>Type in <b>git push -u origin master</b></li>
          <li>It might ask for your bitbucket password. Enter it.
          <li>Refresh and check your repository on bitbucket.org. You should see your commit message on the right side.</li>
        </ol>
      <h3>Routine Commits(You will do this a lot)</h3>
        <ol>
          <li>Open your Command Line/Terminal</li>
          <li>Enter in the following commands: </li>
            <ol>
              <li>git add .</li>
              <li>git commit -m "Describe the code changes you made in the quotes."</li>
              <li>git push</li>
            </ol>
          <li>Check your bitbucket.org account to be sure it pushed.</li>
        </ol>
    </div>
      <br>
</body>
</html>







    </body>
</html>