<!DOCTYPE html>
<html>
    <head>
    	<title>JAVASCRIPT PLAYGROUND</title>
<link rel="stylesheet" type="text/css" href="../css/main.css">

    </head>
    <body>
<div class="nav">
    <ul>
        <li>Home</li>
  <li><a href="html-playground.html">HTML</a></li>
  <li><a href="css-playground.html">CSS</a></li>
  <li><a href="bootstrap-playground.html">BOOTSTRAP</a></li>
  <li><a href="javascript-playground.html">JAVASCRIPT</a></li>
  <li><a href="jQuery-playground.html">jQUERY</a></li>
  <li><a href="resources-playground.html">RESOURCES</a></li>
  <li><a href="git-playground.html">GIT</a></li>


    </ul>
  </div>

    	<h1>JAVASCRIPT Items</h1>

      <h2>Age</h2>
      <p>I am <a id="my-age"></a> years old</p>

      <h2>Graduation</h2>
      <p> I graduate in <a id="graduation-year"></a></p>

      <h2>Kids</h2>
      <p>I have <a id="number-of-kids"></a> kids.</p>

      <button type="button" onclick="alert('destroyed')">Explosion!</button>

      <button type="button" onclick="alert('true')">I have almost drowned</button>
      <button type="button" onclick="alert('true')">I have been trapped in a dog cage</button>
      <button type="button" onlcick="alert('false')">i have gone hunting</button>

      <h2>Favorite Video Game Character</h2>
      <button type="button" onclick="alert('Kratos from God of War')">Reveal</button>
      <h2>Favorite Game Sysytem</h2>
      <button type="buttom" onclick= "alert('PS4')">Reveal</button>









      <script src="../js/scripts.js"></script>
    </body>
</html>